{% extends "base.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <img src="{{ url_for('static', filename='images/authenticator.png') }}" alt="logo"/>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>Welcome, {{ username }}!</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <p>This is your home page. You can add any content you want here.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}
